@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

* {
	font-family: 'Ubuntu Condensed', sans-serif;

}

p,
h2,
h3,
h4,
h5,
h6,
label {
	color: rgba(255, 255, 255, 1);
}

#heads {
	text-align: center
}

h4 {
	font-size: 17px;
}

h5 {
	font-size: 18px;
}

label {
	font-size: 18px;
}

body {
	background: url(../img/ddxmsa.jpeg) no-repeat fixed;
	background-size: cover;
	margin: 0;
}

.p1 {
	float: center;

}

#btn {}

.under {
	text-decoration: underline;
}


#i1 {
	box-sizing: border-box;
	margin-left: 200px;
	margin-right: 13px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 0, .0);
	text-align: center;
	float: left;
	width: 200px;
	height: 200px;
	padding: 30px;
}

#i2 {
	box-sizing: border-box;
	margin-left: 20px;
	margin-right: 13px;
	margin-bottom: 20px;
	text-align: center;
	float: left;
	width: 500px;
	height: 200px;
	padding: 30px;
}

#kits {
	width: 1000px;
	margin: 0 auto;


}

.dropdown {}


#topg {
	border: 1px solid black;
	border-style: hidden;
	margin-top: 0px;
	overflow: hidden;
}

.nav {
	width: 100%;
	display: block;
	background: rgba(147, 155, 157, .75);
	padding: 3px;
	text-align: center;
	margin-bottom: 20px;
}



.nav_list {
	list-style-type: none;

}

.nav_list li {
	padding: 2px;
	display: inline;
}


#drop {
	margin-top: 75px;
}

#d4c {
	border: 1px solid black;
	border-style: hidden;
	margin-top: 6px;
	margin-bottom: 60px;
	background-color: rgba(147, 155, 157, .75);
	overflow: hidden;
}

#hatter {
	box-sizing: border-box;
	background-color: rgba(255, 255, 0, .0);
	text-align: center;
	/*	float: left;*/
	width: 550px;
	height: 250px;
	border-radius: 10px;
	padding: 1px;
}

#mad {
	box-sizing: border-box;
	background-color: rgba(255, 255, 0, .0);
	text-align: center;
	float: left;
	width: 250px;
	height: 250px;
	border-radius: 10px;
	margin-left: 25%;
	padding: 1px;
}


.face {
	box-sizing: border-box;
	background-color: rgba(255, 255, 0, .0);
	text-align: left;
	float: left;
	width: 250px;
	height: 80px;
	border-radius: 10px;
	padding: px;
}



#stonefree {
	border: 1px solid black;
	border-style: hidden;
	background-color: rgba(147, 155, 157, 1);
	display: flex;
	text-align: center;
	padding: 100px;
	padding-left: 200px;
}

#c2 {
	border-style: outset;
}

.boon {
	width: 100%;
	border-radius: 100px;
}


.bam {
	width: 100%;
	border-radius: 100px;
}


.btn {
	box-sizing: border-box;
	border: none;
	color: rgba(255, 255, 255, 1);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	margin: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: rgba(80, 97, 69, .75);
	border-radius: 100px;
	color: rgba(250, 250, 250, 1);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	margin: 5px;
	cursor: pointer;
}

#itd {
	box-sizing: border-box;
	border: none;
	background-color: rgba(147, 155, 157, .75);
	color: rgba(255, 255, 255, 1);
	border-radius: 100px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 50px;
	margin: 5px;
	cursor: pointer;
	height: 100px
}



#itd:hover {
	background-color: rgba(80, 97, 69, .75);
	border-radius: 100px;
	color: rgba(250, 250, 250, 1);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 50px;
	margin: 5px;
	cursor: pointer;
}


#tri {
	width: 1300px;
	text-align: center;
	margin: 0 auto;

}

#darling {
	box-sizing: border-box;
	background-color: rgba(255, 255, 0, .0);
	text-align: center;
	width: 1000px;
	height: 600px;
	/*  margin-left: 25px;
	padding: px;*/
}


.franxx {
	box-sizing: border-box;
	background-color: rgba(255, 255, 0, .0);
	text-align: center;
	float: center;
	width: 200px;
	height: 100px;
	margin-left: 0px auto;
	padding: px;
}


.trigger {
	box-sizing: border-box;
	background-color: rgba(255, 255, 0, .0);
	text-align: center;
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 12px;
	padding: px;
}


/*.chrono {
	box-sizing: border-box;
	margin-left: 20px;
	margin-right: 13px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 0, .0);
	text-align: center;
	float: left;
	width: 200px;
	height: 200px;
	padding: 30px;
}
*/

.theworld {
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}


#n2w {
	text-align: center;
}


#dex {
	width: 600px;
	margin: px;
	margin-left: px;
}


#hex {
	width: 700px;
	margin: 10px;
	margin-left: 150px;
	margin-right: 0px;
}

.pdfg {
	border: 0px solid;
	float: center;
	width: 590px;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	padding-top: 0px;
	text-align: center;
	margin: 10px;
	border-radius: 10px;
	padding-top: 10px;
	height: 200px;
	font-size: 20px;
	background-color: rgba(80, 97, 69, .75);

}


.p1 {
	border: 0px solid;
	border-bottom-width: thin;
	float: center;
	width: 270px;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	padding-top: 0px;
	text-align: center;
	margin: 10px;
	border-radius: 10px;
	height: 270px;
	background-color: rgba(80, 97, 69, .75);

}

.carousel-inner .item img {
	margin: 0 auto;
}


.p1:hover {
	border: 0px solid;
	border-bottom-width: thin;
	float: center;
	width: 270px;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	padding-top: 0px;
	text-align: center;
	margin: 10px;
	border-radius: 10px;
	height: 270px;
	background-color: rgba(80, 97, 69, 1);
}

.p2 {
	border: 0px solid;
	border-bottom-width: thin;
	float: left;
	width: 550px;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 30px;
	text-align: justify;
	border-radius: 10px;
	margin: 10px;
	margin-left: 30px;
	height: 150px;
	background-color: rgba(80, 97, 69, .75);
}

.p2:hover {
	border: 0px solid;
	border-bottom-width: thin;
	float: left;
	width: 550px;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 30px;
	text-align: justify;
	border-radius: 10px;
	margin: 10px;
	margin-left: 30px;
	height: 150px;
	background-color: rgba(80, 97, 69, 1);
}

.p3 {
	border: 0px solid;
	border-bottom-width: none;
	float: right;
	width: 550px;
	display: inline-block;
	vertical-align: top;
	padding: 2px;
	text-align: justify;
	border-radius: 15px;
	margin: 20px;
	margin-left: 100px;
	height: 250px;
	background-color: rgba(80, 97, 69, .0);
}

#pp1 {
	border: 0px solid;
	float: center;
	width: 550px;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	text-align: left;
	border-radius: 10px;
	margin: 10px;
	margin-top: 1px;
	margin-left: 30px;
	height: 150px;

	background-color: rgba(134, 57, 57, .0);
}


#pp2 {
	border: 0px solid;
	float: center;
	width: 290px;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	text-align: left;
	border-radius: 10px;
	margin: 10px;
	margin-top: 1px;
	margin-left: 17%;
	height: 150px;

	background-color: rgba(134, 57, 57, .0);
}


.earth {
	box-sizing: border-box;
	border: none;
	background: none;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	border-radius: 100px;
	margin-top: 10px;
	font-size: 15px;
	cursor: pointer;
}




.fear {
	background-color: rgba(255, 255, 255, 1);
	text-align: left;
	border: solid;
	border-color: rgba(55, 59, 69, .0);
	color: rgba(0, 0, 0, 1);
	border-radius: 10px;
	width: 300px;

}

#px1 {

	border: 1px solid black;
	border-style: hidden;
	background-color: rgba(80, 97, 69, 1);
	overflow: hidden;
	padding-left: 230px;
	padding-top: 10px;
	padding-bottom: 30px;


}

#pmx {
	border: 1px solid black;
	border-style: hidden;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	background-color: rgba(147, 155, 157, .75);
	overflow: hidden;

}
